# Email for yandex
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Database
NAME=
USER=
PASSWORD=
HOST=
PORT=

# Cache
CACHE_ENABLED=
CACHE_LOCATION=redis://


# Secret key django settings.py
SECRET_KEY=

# Secret key django settings.py
SECRET_KEY=